<style>

/* Style the tab */
.custom-tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;  
}
/* Style the buttons that are used to open the tab content */
.custom-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
/* Change background color of buttons on hover */
.custom-tab button:hover {
    background-color: #ddd;
}
/* Create an active/current tablink class */
.custom-tab button.active {
    background-color: rgb(97, 96, 96);
}
/* Style the tab content */
.custom-tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
</style>

{%- comment -%} Saving the metafield for description product {%- endcomment -%}
{% assign custom_tabs = product.metafields.model_info %}

{%if custom_tabs.size > 0 %}
    <div class="custom-tab">
    <button class="tablinks" onclick="expandTab(event, 'Description')" Description>Description</button>

        {% for tab_info in custom_tabs %}
        {%- comment -%} Getting the title of the metafield {%- endcomment -%}
        {% assign tab_name = tab_info | first %}        
        {%- comment -%} Getting the value of the metafield {%- endcomment -%}
            {% assign tab_value = tab_info | last %}

            {%assign description_name = products.product.description | t%}

            {% assign default_tab = '' %}

                {% if forloop.first == true %}
                {%assign default_tab = 'id="defaultTabToBeOpen"'%}    
                {%endif%}

            <button class="tablinks" onclick="expandTab(event, '{{tab_name}}')" {{default_tab}}>{{tab_name}}</button>                            
        {%endfor%}
    </div>
    <div id="Description" class="custom-tab-content">            
    <p>{{product.description}}</p>            
    </div>

    {% for tab_info in custom_tabs %}
    
    {%assign tab_name = tab_info | first%}
    {%assign description_name = products.product.description | t%}
    {%assign tab_value = tab_info | last%}
        <div id="{{tab_name}}" class="custom-tab-content">            
            <p>{{tab_value}}</p>            
        </div>        
    {%endfor%}          
{%endif%}

<br/>
