<div class="product-block onboarding">
  <div class="block-inner">
    <div class="product-link" href="{{ collection.url }}">

      <div class="image-cont">
        {% capture placeholder_svg_name %}product-{{ forloop.index | modulo: 6 | plus: 1 }}{% endcapture %}
        <div class="placeholder-image">{{ placeholder_svg_name | placeholder_svg_tag }}</div>
      </div>

      <div class="product-info">
        <div class="inner">
          <div class="innerer">
            <div class="product-block__title">{{ 'onboarding.product.product_title' | replace: 'BuddyLove', '' | t }}</div>
            <span class="price">
              {{ 1234 | money }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>