<div class="product-block collection-block">
  <div class="block-inner">
    <div class="product-link">
      <div class="image-cont">
        {% capture placeholder_svg_name %}collection-{{ forloop.index | modulo: 6 | plus: 1 }}{% endcapture %}
        <div class="placeholder-image placeholder-image--shape-{{ settings.coll_grid_image_shape }}">{{ placeholder_svg_name | placeholder_svg_tag }}</div>
      </div>
      <div class="product-info">
        <div class="product-block__title">{{ 'onboarding.collection.collection_title' | replace: 'BuddyLove', '' | t }}</div>
        {% if settings.coll_grid_show_count and collection.all_products_count > 0 %}
          <div class="small">{{ 'collections.general.product_count' | t: count: 0 }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
