{%- liquid
  if collection
    assign product_url = product.url | within: collection
  else
    assign product_url = product.url
  endif

  assign product_images = product.media | where: 'media_type', 'image'
  if settings.prod_thumb_hover_image and product_images.size > 1
    assign show_hover_image = true
  else
    assign show_hover_image = false
  endif
  assign id_init = "now" | date: "%N" | append: "-id"
  assign cheapest_variant = product.variants | sort: 'price' | first
-%}
<div class="product-block" {% if animate %}data-cc-animate{% endif %}>
  <div class="block-inner">
    <div class="block-inner-inner">
      {% if product.featured_media %}
        {%- liquid
          assign aspect_ratios_same = true
          for media in product.media offset: 1
            if media.preview_image.aspect_ratio != product.media.first.preview_image.aspect_ratio
              assign aspect_ratios_same = false
              break
            endif
          endfor
        -%}
        <div class="image-cont {% if show_hover_image %}image-cont--with-secondary-image {% if aspect_ratios_same %}image-cont--same-aspect-ratio{% endif %}{% endif %}">
          <a class="product-link{% if settings.quickbuy_style == 'whole' %}quickbuy-toggle{% endif %}" href="{{ product_url }}" aria-label="{{ product.title | escape }}" tabindex="-1">
      
            {% if settings.prod_sold_out_show and product.available == false %}
              <span class="info-label sold-out">{{ 'products.labels.sold_out' | t }}</span>
            {% elsif settings.prod_pre_order_label_show and product.template_suffix == 'preorder' %}
              <span class="info-label preorder">{{ 'products.product.preorder' | t }}</span>
            {% elsif settings.prod_sale_show and cheapest_variant.compare_at_price > cheapest_variant.price %}
              <span class="info-label sale">Final {{ 'products.labels.sale' | t }}</span>
            {% endif %}
      
            <div class="image-label-wrap">
              {%- if show_hover_image -%}
                <div class="product-block__image product-block__image--primary{% if product.featured_media.id == product.media.first.id %}{% assign active_media_found = true %} product-block__image--active{% endif %}{% if product_images.last.id == product.featured_media.id %} product-block__image--show-on-hover{% endif %}" data-media-id="{{ product.media.first.id }}">
                  {%- render 'responsive-image', image: product.media.first.preview_image, manual_image_load: manual_image_load, min_aspect_ratio: 0.6, aspect_ratio: custom_aspect_ratio, no_max_width: true -%}
                </div>
                {%- for media in product_images offset: 1 -%}
                  {%- liquid
                    assign image_state_class = ''
                    if media.id == product.featured_media.id
                      assign active_media_found = true
                      assign image_state_class = 'product-block__image--active'
                    else
                      if active_media_found
                        assign active_media_found = false
                        assign image_state_class = 'product-block__image--show-on-hover'
                      else
                        assign image_state_class = 'product-block__image--inactivated'
                      endif
                    endif
                  -%}
                    <div class="product-block__image product-block__image--secondary rimage-wrapper lazyload--placeholder {{ image_state_class }}"
                        data-media-id="{{ media.id }}"
                        data-image-index="{{ forloop.index }}">
                    <div class="lazyload--manual rimage-background fade-in"
                        data-lazy-bgset-src="{{ media.preview_image | img_url: 'master' }}"
                        data-lazy-bgset-aspect-ratio="{{ media.preview_image.aspect_ratio }}"
                        data-lazy-bgset-width="{{ media.preview_image.width }}"
                        data-sizes="auto"
                        data-parent-fit="contain"></div>
                  </div>
                {%- endfor -%}
              {%- else -%}
                <div class="product-block__image product-block__image--primary product-block__image--active" data-media-id="{{ product.featured_media.id }}">
                  {%- render 'responsive-image', image: product.featured_media.preview_image, manual_image_load: manual_image_load, min_aspect_ratio: 0.6, aspect_ratio: custom_aspect_ratio, no_max_width: true -%}
                </div>
              {%- endif -%}
            </div>
            {%- if show_hover_image -%}
              {%- unless no_swiping -%}
                <div class="product-block__image-dots" aria-hidden="true">
                  <div class="product-block__image-dot product-block__image-dot--active"></div><div class="product-block__image-dot"></div>
                  {%- if product_images.size > 2 -%}
                    <div class="product-block__image-dot product-block__image-dot--more"></div>
                  {%- endif -%}
                </div>
              {%- endunless -%}
            {%- endif -%}
            {% render 'product-label', product: product, cheapest_variant: cheapest_variant %}
          </a>
          {%- if show_hover_image -%}
            <a class="image-page-button image-page-button--previous" href="#" aria-label="{{ 'general.accessibility_labels.previous' | t | escape }}" tabindex="-1">{%- render 'svg-chevron-left', stroke_width: 1.3 -%}</a>
            <a class="image-page-button image-page-button--next" href="#" aria-label="{{ 'general.accessibility_labels.previous' | t | escape }}" tabindex="-1">{%- render 'svg-chevron-right', stroke_width: 1.3 -%}</a>
          {%- endif -%}
          <!-- QUICK BUY -->
          {% if settings.quickbuy_style == 'button' %}
            <a class="btn btn--secondary quickbuy-toggle" href="{{ product_url }}">{{ 'products.quick_buy.launch' | t }}</a>
          {% endif %}
          <!-- QUICK BUY END -->
        </div>
      {% else %}
        <div class="image-cont">
          <div class="placeholder-image">{{ 'product-1' | placeholder_svg_tag }}</div>
        </div>
      {% endif %}
        <!---->
      <div class="product-info">
        <div class="inner">
          <div class="innerer">
            <div>
              <a class="product-link{% if settings.quickbuy_style == 'whole' %} quickbuy-toggle{% endif %}" href="{{ product_url }}">
                {% if section.settings.show_vendor %}
                  <div class="vendor">{{ product.vendor }}</div>
                {% endif %}
                <div class="product-block__title">{{ product.title | escape | replace: 'BuddyLove', '' }}</div>
                <div class="product-price">
                  {% if product.price_varies %}
                    <span class="product-price__item product-price__from">{{ 'products.listing.from' | t }}</span>
                  {% endif %}
                  <span class="product-price__item product-price__amount {% if cheapest_variant.compare_at_price > cheapest_variant.price %}product-price__amount--on-sale{% endif %} theme-money">{{ cheapest_variant.price | money }}</span>
                  {% if cheapest_variant.compare_at_price > cheapest_variant.price %}
                    <span class="product-price__item product-price__compare theme-money">{{ cheapest_variant.compare_at_price | money }}</span>
                  {% endif %}
  
                </div>
  
                {% render 'unit-price', variant: cheapest_variant %}
              </a>
  
              {%- if settings.prod_thumb_show_options -%}
                {%- liquid
                  assign option_limit = 3
                  assign options_to_show = settings.prod_thumb_options_names | replace: ', ', ',' | split: ','
                -%}
                {%- for product_option in product.options_with_values -%}
                  {%- if options_to_show contains product_option.name and product_option.name=='Size'-%}
                    <div class="product-block-options{% if is_swatch %} product-block-options--swatch{% endif %}" data-option-name="{{ product_option.name | escape }}">
                      <div class="product-block-options__inner">
                        {%- if product.options.size == 1 -%}
                          {%- for variant in product.variants -%}
                            <span class="product-block-options__item{% unless variant.available %} product-block-options__item--unavailable{% endunless %}{% if forloop.index > option_limit and is_swatch %} product-block-options__item--truncated{% endif %}{% if is_swatch %} lazyload{% endif %}"
                            data-option-item="{{ variant.title | downcase | escape }}"
                            {% if variant.featured_media %}data-media="{{ variant.featured_media.id }}"{% endif %}
                            {% if is_swatch %}{% if settings.swatch_images %}data-bgset="{{ variant.title | handle | append: '.png' | file_img_url: '48x48', crop: 'center' }}"{% else %}style="background-color:{{ variant.title | downcase | remove: ' ' | escape }}"{% endif %}{% endif %}><span class="product-block-options__item__text">{{ variant.title }}</span></span>
                          {%- endfor -%}
                          {%- if product.variants.size > option_limit and is_swatch -%}
                            {%- assign remaining = product.variants.size | minus: option_limit -%}
                            <span class="product-block-options__more-label">{{ 'collections.general.more_swatches' | t: count: remaining }}</span>
                          {%- endif -%}
                        {%- else -%}
                          {%- assign product_option_position_0index = product_option.position | minus: 1 -%}
                          {%- for product_option_value in product_option.values -%}
                            {%- liquid
                              assign option_value_variant = false
                              assign is_unavailable = true
                              for variant in product.variants
                                if variant.options[product_option_position_0index] == product_option_value
                                  assign option_value_variant = variant
                                  break
                                endif
                              endfor
                              for variant in product.variants
                                if variant.available and variant.options[product_option_position_0index] == product_option_value
                                  assign is_unavailable = false
                                  break
                                endif
                              endfor
                            -%}
                            <span class="product-block-options__item{% if is_unavailable %} product-block-options__item--unavailable{% endif %}{% if forloop.index > option_limit and is_swatch %} product-block-options__item--truncated{% endif %}{% if is_swatch %} lazyload{% endif %}">
                              <span class="product-block-options__item__text">{{ product_option_value }}</span>
                            </span>
                          {%- endfor -%}
                        {%- endif -%}
                      </div>
                    </div>
                  {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
            </div>
            <!-- Rendering the swatches -->
            <div class="product-block-options product-block-options--swatch">
              <div class="product-block-options__inner">
                {% for rel_swatch_field in product.metafields.rel_product_swatch %}
                  {% assign rel_key = rel_swatch_field[0] %}
                  {% assign rel_swatch = rel_swatch_field[1] | split: '|' %}

                  {% assign rel_swatch_title = rel_swatch[0] %}
                  {% assign rel_swatch_handle = rel_swatch[1] %}
                  {% assign rel_swatch_image = rel_swatch[2] %}
                  <a href="{% if collection %}/collections/{{ collection.handle }}{% endif %}/products/{{ rel_swatch_handle }}">
                    <span class="product-block-options__item lazyloading" data-handle="{{ rel_swatch_handle }}">
                      <img class="lazyload" style="border-radius: 0%;"src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src="{{ rel_swatch_image | file_img_url : '100x' }}"/>
                    </span>
                  </a>
                {% endfor %}
              </div>
            </div>

            {%- if settings.enable_product_reviews_collection -%}
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    
  </script>


  {%- if settings.quickbuy_style != 'off' -%}
    {%- unless no_quick_buy_markup -%}
      <div class="quickbuy-container">
        <a href="#" class="close-detail" aria-label="{{ 'products.quick_buy.close' | t }}" tabindex="-1">{% render 'svg-x' %}</a>
        <div class="inner"></div>
      </div>
    {%- endunless -%}
  {%- endif -%}
</div>
