<!-- 
    Here, should be created Promotions Collection, with the same features of products images, it will allows to add more promotions,
    then this code will render the image of the promotion with the responsive-image snippet
 -->

{%- liquid
    if settings.prod_thumb_shape == 'portrait-23'
        assign chosen_aspect_ratio = 0.67
    elsif settings.prod_thumb_shape == 'portrait-45'
        assign chosen_aspect_ratio = 0.8
    elsif settings.prod_thumb_shape == 'square'
        assign chosen_aspect_ratio = 1.0
    elsif settings.prod_thumb_shape == 'landscape'
        assign chosen_aspect_ratio = 1.50
    elsif settings.prod_thumb_shape == 'tallest'
        assign chosen_aspect_ratio = 99
    for promotion in collection.promotions
        if promotion.featured_media.preview_image.aspect_ratio < chosen_aspect_ratio
        assign chosen_aspect_ratio = promotion.featured_media.preview_image.aspect_ratio
        endif
    endfor
    else
    assign chosen_aspect_ratio = 0
    for promotion in collection.promotions
        if promotion.featured_media.preview_image.aspect_ratio > chosen_aspect_ratio
        assign chosen_aspect_ratio = promotion.featured_media.preview_image.aspect_ratio
        endif
    endfor
    endif
-%}

<div class="product-block">
    <div class="block-inner">
        <div class="block-inner-inner">
            <div class="image-count">
                <div class="image-label-wrap">
                    <div>
                        <div class="product-block__image product-block__image--primary product-block__image--active">
                            {%- render 'responsive-image', image: promotion.featured_media.preview_image, manual_image_load: manual_image_load, min_aspect_ratio: 0.6, aspect_ratio: custom_aspect_ratio, no_max_width: true -%}
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>