{% if product.metafields.rel_product_swatch and product.metafields.rel_product_swatch.size > 0 %}
  <div class="related-product-swatches">
  
    {% comment %}Loop through the swatches and output the results {% endcomment %}
    {% for rel_swatch_field in product.metafields.rel_product_swatch %}
    {% assign rel_key = rel_swatch_field[0] %}
    {% assign rel_swatch = rel_swatch_field[1] | split: '|' %}

    {% assign rel_swatch_title = rel_swatch[0] %}
    {% assign rel_swatch_handle = rel_swatch[1] %}
    {% assign rel_swatch_image = rel_swatch[2] %}


    <div class="test related-product-swatch" data-swatch-handle="{{ rel_swatch_handle }}" data-swatch-title="{{ rel_swatch_title }}" onmouseleave="changeTo('{{ current_rel_swatch[0] }}')" onmouseover="changeTo('{{ rel_swatch_title }}')">
      <a href="{% if collection %}/collections/{{ collection.handle }}{% endif %}/products/{{ rel_swatch_handle }}">
        <span class="swatch-image" {% comment %}style="background: url({{ rel_swatch_image | file_img_url : '100x' }})"{%endcomment%}>
        <img class="lazyload{% if rel_swatch_handle == product.handle %} active{% endif %}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src="{{ rel_swatch_image | file_img_url : '100x' }}"/>
        </span>
      </a>
    </div>
    {% endfor %}
  </div>
{% endif %}

<script>
    function changeTo(text){
        var out = document.getElementById("rel_swatch");
        out.innerHTML=text;
    }
</script>