<div class="nosto_element" id="frontpage-nosto-2"> 
</div>  

{% schema %}
  {
    "name": "Front Page Nosto 2",
    "settings": [
		{ 
			"type": "text", 
			"id": "bl-frontpage-nosto-2",
			"label": "Front Page Nosto 1" 
		} 
	], 
	"presets": [ 
		{ 
			"name": "Front Page Nosto 2", 
			"category": "Collection" 
		} 
	]
  } 

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
