{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  assign zoom_size = 'master'
  assign min_aspect_ratio = 0.6
  assign product_form_id = 'product-form-' | append: section.id | append: '-' | append: product.id
  assign product_form_installments_id = product_form_id | append: '-installments'
  assign show_preorder_label = false
  if settings.prod_pre_order_label_show and product.template_suffix == 'preorder'
    assign show_preorder_label = true
  endif
-%}

<div id="product-main" data-section-type="main-product" data-components="accordion,modal">
  {% if section.settings.show_breadcrumbs %}
    <div class="container desktop-only not-in-quickbuy" data-cc-animate data-cc-animate-delay="0.2s">
      <div class="page-header">
        {% render 'breadcrumbs', show_next_prev: true %}
      </div>
    </div>
  {% endif %}

  <div class="product-detail quickbuy-content spaced-row container">
    <div class="gallery gallery-layout-{{ section.settings.prod_gall_thumbs_under }} gallery-size-{{ section.settings.gallery_size }} product-column-left {% if product.media.size > 1 %}has-thumbnails{% endif %}" data-cc-animate data-cc-animate-delay="0.2s">
      {% if product.available == false %}
        <span class="info-label sold-out">{{ 'products.labels.sold_out' | t }}</span>
      {% elsif settings.prod_pre_order_label_show and product.template_suffix == 'preorder' %}
        <span class="info-label preorder">{{ 'products.product.preorder' | t }}</span>
      {% elsif current_variant.compare_at_price > current_variant.price %}
        <span class="info-label sale">Final {{ 'products.labels.sale' | t }}</span>
      {% endif %}
      <div class="gallery__inner{% if section.settings.enable_sticky_gallery %} sticky-content-container{% endif %}">
        <div class="main-image">
          {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
          {%- for media in product.media -%}
            {%- if media.id == featured_media.id -%}
              {%- assign initial_slide = forloop.index0 -%}
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}
          <div class="slideshow product-slideshow slideshow--custom-initial" data-slick='{"adaptiveHeight":true,"initialSlide":{{initial_slide}}}'>
            {%- for media in product.media -%}
              <div class="slide{% if forloop.index0 == initial_slide %} slide--custom-initial{% endif %}" data-media-id="{{ media.id }}">
                {%- if media.media_type == 'image' and section.settings.enable_zoom -%}<a class="show-gallery" href="{{ media.preview_image | img_url: zoom_size }}">{%- endif -%}
                  {%- render 'media', media: media, min_aspect_ratio: min_aspect_ratio -%}
                {%- if media.media_type == 'image' and section.settings.enable_zoom -%}</a>{%- endif -%}
              </div>
            {%- endfor -%}
          </div>

          {%- assign models = product.media | where: 'media_type', 'model' -%}
          {% if models.size > 0 %}
            <script type="application/json" class="model-json">
              {{- product.media | where: 'media_type', 'model' | json -}}
            </script>
            <button
              class="view-in-space"
              data-shopify-xr
              data-shopify-model3d-id="{{ models.first.id }}"
              data-shopify-title="{{ product.title | escape }}"
              data-shopify-xr-hidden>
              {%- render 'icon-3d-badge-full-color' -%}
              <span class="view-in-space__text">{{ 'products.product.view_in_space' | t }}</span>
            </button>
          {% endif %}

          <div class="slideshow-controls">
              <div class="slideshow-controls__arrows"></div>
          </div>

          {% render 'product-label-detail', product: product, current_variant: current_variant %}
        </div>

        {% if product.media.size > 1 %}
          <div class="thumbnails">
            {% for media in product.media %}
              <a class="thumbnail thumbnail--media-{{ media.media_type }}" href="{% if section.settings.enable_zoom %}{{ media.preview_image | img_url: zoom_size }}{% else %}#{% endif %}" data-media-id="{{ media.id }}">
                {% render 'responsive-image', image: media.preview_image, min_aspect_ratio: min_aspect_ratio %}

                {%- if media.media_type == 'video' or media.media_type =='external_video' -%}
                  <div class="thumbnail__badge">
                    {% render 'icon-video-badge-full-color' %}
                  </div>
                {%- endif -%}
                {%- if media.media_type == 'model' -%}
                  <div class="thumbnail__badge">
                    {% render 'icon-3d-badge-full-color' %}
                  </div>
                {%- endif -%}
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="detail product-column-right" data-cc-animate data-cc-animate-delay="0.2s">
      <div class="product-form" data-ajax-add-to-cart="true" data-product-id="{{ product.id }}" data-enable-history-state="true" data-show-sale-price-label="{{ settings.prod_sale_show }}" data-show-preorder-label="{{ show_preorder_label }}">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when '@app' %}
              {% render block %}

            {% when 'title' %}
              <!-- PRODUCT NAME -->
              <div class="title-row" {{ block.shopify_attributes }}>
                <h1 class="title">{{ product.title | escape | replace: 'BuddyLove', '' }}</h1>
              </div>
            {% when 'price' %}
            <!-- PRODUCT PRICE -->
            {% assign price = 0 %}
              <div class="price-container" {{ block.shopify_attributes }}>
                <div>
                  <div class="price-area">
                    <div class="price h4-style {% if current_variant.compare_at_price > current_variant.price %}on-sale{% endif %}">
                      <span class="current-price theme-money">{{ current_variant.price | money }}</span>
                      {% if current_variant.compare_at_price > current_variant.price %}
                      <span class="was-price theme-money">{{ current_variant.compare_at_price | money }}</span>
                      {% endif %}
                    </div>
                    {% render 'unit-price', variant: current_variant %}
                  </div>
                </div>

                <!-- SHOPPAY AFTERPAY -->
                <div class="price-descriptors">
                  {%- comment -%}
                  {%- form 'product', product, id: product_form_installments_id -%}
                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                    {{ form | payment_terms }}
                  {%- endform -%}
                  {%- endcomment -%}
                  {%- assign id_init = "now" | date: "%N" | append: "-id" -%}
                  <p class="shopify-installments" id="shopify-installments" data-id="{{ id_init }}">
                    <span class="shopify-installments__conten" id="shopify-installments-content" style="display: inline;">   
                      <span>
                        {%- if product.price > 3500 -%}
                          Pay in 4 interest-free installments of {{ product.price | divided_by: 4 | money }} by
                        {% else %}
                          Pay in 4 interest-free installments on orders $35 or more by
                        {%- endif -%}
                      </span>                                                  
                      {% render 'svg-shop-pay' %}
                      <a href="https://shoppay.affirm.com/s/article/about-sp" target="_blank"> 
                        {% render 'svg-question-mark' %}
                      </a>
                      or
                      <span>
                        {% render 'svg-after-pay' %}
                      </span>                    
                      <a href="https://www.afterpay.com/en-US/installment-agreement" target="_blank"> 
                        {% render 'svg-question-mark' %}
                      </a>                    
                    </span>
                  </p>

                  {%- if block.settings.show_tax_and_shipping -%}
                    {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                      <div class="product-policies">
                        {%- if shop.taxes_included -%}
                          {{ 'products.product.include_taxes' | t }}
                        {%- endif -%}
                        {%- if shop.shipping_policy.body != blank -%}
                          {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  {%- endif -%}

                  {% if section.settings.inventory_transfers_enable %}
                    <div class="product-inventory-transfer {% unless current_variant.incoming %}product-inventory-transfer--none{% endunless %}">
                      {%- if current_variant.incoming -%}
                        {%- if current_variant.next_incoming_date -%}
                          {%- assign date = current_variant.next_incoming_date | date: format: 'date' -%}
                          {%- if current_variant.available -%}
                            {{ 'products.transfers.will_not_ship_until' | t: date: date }}
                          {%- else -%}
                            {{ 'products.transfers.will_be_in_stock_after' | t: date: date }}
                          {%- endif -%}
                        {%- else -%}
                          {{ 'products.transfers.waiting_for_stock' | t }}
                        {%- endif -%}
                      {%- endif -%}
                    </div>
                  {% endif %}
                </div>
                <!-- SHOPPAY AFTERPAY END -->

                
                {%- if settings.enable_product_reviews_by_price -%}
                  <div class="theme-product-reviews">
                    <a href="#shopify-product-reviews" aria-label="{{ 'products.product.reviews_link' | t | escape }}"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></a>
                  </div>
                {%- endif -%}
              </div>

            {% when 'description' %}
            <!-- PRODUCT DESCRIPTION -->
              <div class="{% unless block.settings.show_in_quickbuy %}not-in-quickbuy{% endunless %}{% if block.settings.show_in_tab %} product-detail-accordion{% endif %}" {{ block.shopify_attributes }}>
                {% if block.settings.show_in_tab %}
                  {%- assign description_title = 'products.product.description' | t -%}
                  {% render 'accordion', allow_multi_open: true, add_content_class: 'rte cf', first_item_open: block.settings.open_tab, item1_title: description_title, item1_content: product.description %}
                {% else %}
                  <div class="product-description rte cf">{{ product.description }}</div>
                {% endif %}
              </div>

            {% when 'vendor' %}

            <!-- PRODUCT VENDOR -->
              {%- liquid
                assign product_vendor_handle = product.vendor | handle
                if collections[product_vendor_handle].handle == product_vendor_handle
                  assign vendor_url = collections[product_vendor_handle].url
                else
                  assign vendor_url = product.vendor | url_for_vendor
                endif
              -%}
              <div class="vendor lightly-spaced-row" {{ block.shopify_attributes }}>
                <span class="product-detail-label">{{ 'products.product.vendor' | t }}</span> {{ product.vendor | link_to: vendor_url }}
              </div>

            {% when 'sku' %}
              <div class="sku {% if product.selected_or_first_available_variant.sku == blank %}sku--no-sku{% endif %}" {{ block.shopify_attributes }}>
                <span class="product-detail-label">{{ 'products.product.sku' | t }}</span> <span class="sku__value">{{ product.selected_or_first_available_variant.sku }}</span>
              </div>

            {% when 'variant_picker' %}
              {%- if settings.swatch_enabled and settings.swatch_images -%}
                <style>
                {%- for product_option in product.options_with_values -%}
                    {%- if settings.swatch_option_name contains product_option.name -%}
                      {%- for value in product_option.values -%}
                        {%- assign swatch_value = value | handle -%}
                        .option--{{ settings.swatch_option_name | handle }} select[data-listed][data-colour-swatch="true"] + .clickyboxes .opt--{{ swatch_value }}::before,
                        .swatch-option__nugget.bg-{{ swatch_value }} {
                          background-image: url({{ swatch_value | append: '.png' | file_img_url: '48x48', crop: 'center' }});
                        }
                      {%- endfor -%}
                    {%- endif -%}
                  {%- endfor -%}
                </style>
              {%- endif -%}

              <!-- PRODUCT SIZES-COLORS-->
              <!---
                Options divided of selections by a switch case, by dividing those options we can handled the variants in differents ways
              --->
              <div class="input-row" {{ block.shopify_attributes }}>
                {% if product.has_only_default_variant == false %}
                  {% if product.variants.size > 1 or block.settings.show_single %}
                    <div class="option-selectors">
                      {% for option in product.options_with_values %}
                        {% case option.name %}
                          {% when 'Pattern' %}
                            <div style="display: none;" class="selector-wrapper styled-select {% if settings.swatch_enabled and settings.swatch_option_name contains option.name %} swatches option--{{ settings.swatch_option_name | handle }}{% endif %}" {% if settings.variant_style == 'listed' %}data-make-box{% endif %}>
                              <label for="SingleOptionSelector-{{ forloop.index0 }}">
                                {{ option.name }}
                              </label>
                              <select
                                id="SingleOptionSelector-{{ forloop.index0 }}"
                                data-single-option-selector
                                data-index="option{{ option.position }}"
                                {% if settings.variant_style == 'listed' %}data-listed{% endif %}
                                {% if settings.swatch_enabled and settings.swatch_option_name contains option.name %}data-colour-swatch="true"{% endif %}>
                                {% for value in option.values %}
                                  <option
                                    value="{{ value | escape }}"
                                    {% if option.selected_value == value %}selected="selected"{% endif %}>{{ value }}
                                  </option>
                                {% endfor %}
                              </select>
    
                              {% if block.settings.show_size_chart and block.settings.size_chart_variant contains option.name and block.settings.size_chart_page != blank %}
                                <div class="size-chart-container">
                                  <a href="{{ pages[block.settings.size_chart_page].url }}" target="_blank" class="size-chart-link cc-modal" data-cc-modal-contentelement="#size-chart-content--{{ section.id }}">
                                    {{ 'products.product.size_chart' | t }}
                                  </a>
                                  <div id="size-chart-content--{{ section.id }}" class="size-chart-content hidden">
                                    <div class="size-chart">
                                      <div class="size-chart__inner rte">
                                        {{ pages[block.settings.size_chart_page].content }}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              {% endif %}
                            </div>
                          {% when 'Size' %}
                            <div class="selector-wrapper styled-select {% if settings.swatch_enabled and settings.swatch_option_name contains option.name %} swatches option--{{ settings.swatch_option_name | handle }}{% endif %}" {% if settings.variant_style == 'listed' %}data-make-box{% endif %}>
                              <label for="SingleOptionSelector-{{ forloop.index0 }}">
                                {{ option.name }}
                              </label>
                              <select
                                id="SingleOptionSelector-{{ forloop.index0 }}"
                                data-single-option-selector
                                data-index="option{{ option.position }}"
                                {% if settings.variant_style == 'listed' %}data-listed{% endif %}
                                {% if settings.swatch_enabled and settings.swatch_option_name contains option.name %}data-colour-swatch="true"{% endif %}>
                                {% for value in option.values %}
                                  <option
                                    value="{{ value | escape }}"
                                    {% if option.selected_value == value %}selected="selected"{% endif %}>{{ value }}
                                  </option>
                                {% endfor %}
                              </select>
    
                              {% if block.settings.show_size_chart and block.settings.size_chart_variant contains option.name and block.settings.size_chart_page != blank %}
                                <div class="size-chart-container">
                                  <a href="{{ pages[block.settings.size_chart_page].url }}" target="_blank" class="size-chart-link cc-modal" data-cc-modal-contentelement="#size-chart-content--{{ section.id }}">
                                    {{ 'products.product.size_chart' | t }}
                                  </a>
                                  <div id="size-chart-content--{{ section.id }}" class="size-chart-content hidden">
                                    <div class="size-chart">
                                      <div class="size-chart__inner rte">
                                        {{ pages[block.settings.size_chart_page].content }}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              {% endif %}
                            </div>                            
                          {% else %}
                        {% endcase %}
                      {% endfor %}

                      <!-- Taking the metafiels of current product -->
                      {% if product.metafields.rel_product_swatch and product.metafields.rel_product_swatch.size > 0 %}
              
                      {% comment %}
                      Related product swatches use metafields in the following format:
                      Namespace: rel_product_swatch
                      Key: Swatch Title (for consistant sorting across products)
                      Value: SWATCH_TITLE|PRODUCT_HANDLE|SWATCH_IMAGE_NAME
                  
                      We're checking the product handle against the second value in the swatch (PRODUCT_HANDLE) to check if this product is active initially. 
                      {% endcomment %}
                      {% for rel_swatch_field in product.metafields.rel_product_swatch %}
                      {% assign rel_swatch = rel_swatch_field[1] | split: '|' %}
                      {% if rel_swatch[1] == product.handle %}
                        {% assign current_rel_swatch = rel_swatch %}
                        {% break %}rel_swatch
                      {% endif %}
                      {% endfor %}
                  
                        <!-- PRODUCT COLORS DISPLAYED | SWATCHES -->
                      <div class="related-product-swatches-container">
                        <div class="current-product-swatch-container">
                          <p>COLOR: <span class="current-product-swatch" id="rel_swatch">{{ current_rel_swatch[0] }}</span></p>
                        </div>
                        {% include 'related-product-swatches' %}
                      </div>
                    {% endif %}
                    </div>
                  {% endif %}
                {% endif %}
              </div>

            {% when 'buy_buttons' %}
              <div class="buy-buttons-row" {{ block.shopify_attributes }}>
                {% form 'product', product, id: product_form_id, class: 'form product-purchase-form', data-product-id: product.id %}
                  <select name="id" class="original-selector{% if product.variants.size == 1 %} hidden{% endif %}" aria-label="{{ 'products.product.selector_label' | t | escape }}">
                    {% for variant in product.variants %}
                    <option value="{{ variant.id }}"
                      {% if variant == product.selected_or_first_available_variant %} selected="selected"{% endif %}
                      {% if block.settings.show_inventory_notice and variant.inventory_management == 'shopify' and variant.inventory_quantity > 0 %}
                        {% if block.settings.inventory_notice_threshold == 0 or variant.inventory_quantity <= block.settings.inventory_notice_threshold %}
                          data-inventory="{{ variant.inventory_quantity }}"
                        {% endif %}
                      {% endif %}
                      {% if section.settings.inventory_transfers_enable and variant.incoming %}
                        {%- if variant.next_incoming_date -%}
                          {%- assign date = variant.next_incoming_date | date: format: 'date' -%}
                          {%- if variant.available -%}
                            data-inventory-transfer="{{ 'products.transfers.will_not_ship_until' | t: date: date | escape }}"
                          {%- else -%}
                            data-inventory-transfer="{{ 'products.transfers.will_be_in_stock_after' | t: date: date | escape }}"
                          {%- endif -%}
                        {%- else -%}
                          data-inventory-transfer="{{ 'products.transfers.waiting_for_stock' | t | escape }}"
                        {%- endif -%}
                      {% endif %}
                      data-stock="{% if variant.inventory_management == 'shopify' and variant.inventory_quantity <= 0 %}out{% endif %}">{{ variant.title | escape }}</option>
                    {% endfor %}
                  </select>

                  {% if product.available %}
                    {% if block.settings.show_inventory_notice %}
                      {%- capture inventory_notice -%}
                        {%- if current_variant.inventory_management == 'shopify' and current_variant.inventory_quantity > 0 -%}
                          {%- if block.settings.inventory_notice_threshold == 0 or current_variant.inventory_quantity <= block.settings.inventory_notice_threshold -%}
                            <div class="product-inventory-notice">
                              {{- 'products.labels.only_x_left' | t: quantity: current_variant.inventory_quantity -}}
                            </div>
                          {%- else -%}
                            <div class="product-inventory-notice product-inventory-notice--no-inventory"></div>
                          {%- endif -%}
                        {%- else -%}
                          <div class="product-inventory-notice product-inventory-notice--no-inventory"></div>
                        {%- endif -%}
                      {%- endcapture -%}
                    {% endif %}

                    {% unless block.settings.show_quantity_selector %}{{ inventory_notice }}{% endunless %}

                    {%- liquid
                      assign enable_dynamic_payment_button = false
                      if block.settings.enable_payment_button and product.selling_plan_groups == empty and product.template_suffix != 'preorder'
                        assign enable_dynamic_payment_button = true
                      endif
                    -%}
                    <div class="quantity-submit-row input-row {% if enable_dynamic_payment_button %}has-spb{% endif %}">
                      {% if block.settings.show_quantity_selector %}
                        <label for="quantity">
                          {{ 'products.product.quantity' | t }} {{ inventory_notice }}
                        </label>
                        <div class="quantity-wrapper">
                          <a href="#" data-quantity="down">{% render 'svg-minus' %}</a>
                          <input aria-label="{{ 'products.product.quantity' | t }}" id="quantity" type="text" name="quantity" value="1" />
                          <a href="#" data-quantity="up">{% render 'svg-plus' %}</a>
                        </div>
                      {% endif %}
                      <div class="quantity-submit-row__submit input-row">
                        {%- capture add_to_cart_text -%}
                          {%- if product.template_suffix contains 'preorder' -%}
                            {{ 'products.product.preorder' | t }}
                          {%- else -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- endif -%}
                        {%- endcapture -%}
                        <button class="button button--large" type="submit" data-add-to-cart-text="{{ add_to_cart_text | escape }}">
                          {{- add_to_cart_text -}}
                        </button>
                      </div>
                      {% if enable_dynamic_payment_button %}
                        {{ form | payment_button }}
                      {% endif %}

                      {% if block.settings.show_backorder_text == true %}
                        {% render 'backorder', product: product, variant: current_variant %}
                      {% endif %}
                    </div>

                    {%- unless block.settings.show_pickup_availability == false -%}
                      {% render 'store-availability', product: product, current_variant: current_variant %}
                    {%- endunless -%}
                  {% endif %}
                {% endform %}
              </div>

            {%- comment -%} Displays info about product in tabs  {%- endcomment -%}
            {% when 'tabs' %} 
              {% if block.settings.enable_tabs %}
                {% render 'custom-tabs' %}
              {% endif %}
            {% when 'accordion' %}
              {%- liquid
                assign content = block.settings.content
                if block.settings.page != blank
                  assign content = pages[block.settings.page].content
                endif
              -%}
              {%- if content != blank -%}
                <div class="product-detail-accordion{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>
                  {% render 'accordion', allow_multi_open: true, add_content_class: 'rte cf', first_item_open: block.settings.open, item1_title: block.settings.title, item1_content: content %}
                </div>
              {%- endif -%}

            {% when 'text' %}
              {% if block.settings.text != blank %}
                <div class="lightly-spaced-row{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
              {% endif %}

            {% when 'textarea' %}
              {% if block.settings.textarea != blank %}
                <div class="flash-sale" style="color: {{ block.settings.flash_sale_font_color }};" {{ block.shopify_attributes }}>{{ block.settings.textarea }}</div>
              {% endif %}

            {% when 'richtext' %}
              {% if block.settings.richtext != blank %}
                <div class="rte cf lightly-spaced-row{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>{{ block.settings.richtext }}</div>
              {% endif %}

            {% when 'popup' %}
              {% if block.settings.page != blank %}
                <div class="lightly-spaced-row{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>
                  <a class="{% if block.settings.style != 'link' %}btn btn--{{ block.settings.style }}{% else %}small-feature-link{% endif %} cc-modal" href="{{ pages[block.settings.page].url }}" target="_blank" data-cc-modal-contentelement="#block-content-{{ section.id }}-{{ block.id }}">{{ block.settings.text | escape }}</a>
                  <div id="block-content-{{ section.id }}-{{ block.id }}" class="hidden">
                    <div class="rte cf">{{ pages[block.settings.page].content }}</div>
                  </div>
                </div>
              {% endif %}

            {% when 'link' %}
              {% if block.settings.text != blank %}
                <div class="lightly-spaced-row{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>
                  <a class="{% if block.settings.style != 'link' %}btn btn--{{ block.settings.style }}{% else %}small-feature-link{% endif %}" href="{{ block.settings.url }}">{{ block.settings.text | escape }}</a>
                </div>
              {% endif %}

            {% when 'image' %}
              {% if block.settings.image != blank %}
                <div class="lightly-spaced-row inline-width-container{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" style="width: {{ block.settings.image_width }}px" {{ block.shopify_attributes }}>
                  {% if block.settings.url != blank %}<a href="{{ block.settings.url }}">{% endif %}
                    {% render 'responsive-image', image: block.settings.image %}
                  {% if block.settings.url != blank %}</a>{% endif %}
                </div>
              {% endif %}

            {% when 'custom_liquid' %}
              {% if block.settings.custom_liquid != blank %}
                <div class="lightly-spaced-row{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>{{ block.settings.custom_liquid }}</div>
              {% endif %}

            {% when 'sharing' %}
              <div class="lightly-spaced-row not-in-quickbuy" {{ block.shopify_attributes }}>
                {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
              </div>

            {% when 'divider' %}
              <hr {% unless block.settings.show_in_quickbuy %}class="not-in-quickbuy"{% endunless %} {{ block.shopify_attributes }}>

          {% endcase %}
        {% endfor %}

        <div class="lightly-spaced-row-above only-in-quickbuy">
          <a class="more" href="{{ product.url }}">
            {{ 'products.quick_buy.read_more' | t }}
            <span class="icon-small icon-natcol">{% render 'svg-chevron-right' %}</span>
          </a>
        </div>
      </div>

      <script type="application/json" id="ProductJson-{{ product.id }}">
        {{- product | json -}}
      </script>
    </div>
  </div><!-- /.product-detail -->

  {% if section.settings.show_location_underneath %}
    <div class="product-description rte container cf padded-row not-in-quickbuy">{{ product.description }}</div>
  {% endif %}
</div>

{% render 'structured-data-product', product: product, current_variant: product.selected_or_first_available_variant %}

{% schema %}
  {
    "name": "Product pages",
    "class": "section-main-product page-section-spacing page-section-spacing--no-top-mobile",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_breadcrumbs",
        "label": "Show breadcrumbs",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_location_underneath",
        "label": "Show description below media",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "inventory_transfers_enable",
        "label": "Show inventory transfer notice",
        "info": "Shows under price. Learn how to create inventory transfers [here](https://help.shopify.com/en/manual/products/inventory/transfers/create-transfer)",
        "default": true
      },
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "paragraph",
        "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
      },
      {
        "type": "select",
        "id": "gallery_size",
        "label": "Size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "radio",
        "id": "prod_gall_thumbs_under",
        "label": "Thumbnail position",
        "info": "On desktop screens",
        "options": [
          {
            "value": "beside",
            "label": "Beside main image"
          },
          {
            "value": "under",
            "label": "Underneath main image"
          }
        ],
        "default": "under"
      },
      {
        "type": "checkbox",
        "id": "enable_sticky_gallery",
        "label": "Enable stick on scroll",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "Enable video looping",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_tax_and_shipping",
            "label": "Show tax status and shipping policy link",
            "default": false
          }
        ]
      },  
      {
        "type": "tabs",
        "name": "Tabs Description",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_tabs",
            "label": "Show in view",
            "default": false
          }
        ]
      },         
      {
        "type": "description",
        "name": "Description",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_in_tab",
            "label": "Show in tab",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "open_tab",
            "label": "Open tab",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "vendor",
        "name": "Vendor",
        "limit": 1
      },
      {
        "type": "sku",
        "name": "SKU",
        "limit": 1
      },
      {
        "type": "variant_picker",
        "name": "Variant picker",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_single",
            "label": "Show for a single variant",
            "default": false
          },
          {
            "type": "header",
            "content": "Size chart"
          },
          {
            "type": "checkbox",
            "id": "show_size_chart",
            "label": "Enable size chart",
            "default": false
          },
          {
            "type": "text",
            "id": "size_chart_variant",
            "label": "Option name",
            "info": "The label to show the link beside",
            "default": "Size"
          },
          {
            "type": "page",
            "id": "size_chart_page",
            "label": "Page containing size chart"
          }
        ],
        "limit": 1
      },
      {
        "type": "buy_buttons",
        "name": "Buy buttons",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_quantity_selector",
            "label": "Show quantity selector",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "enable_payment_button",
            "label": "Show dynamic checkout button",
            "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_backorder_text",
            "label": "Show backorder text",
            "default": true,
            "info": "Only shows for products which use Shopify inventory tracking and are available to purchase when out of stock."
          },
          {
            "type": "checkbox",
            "id": "show_inventory_notice",
            "label": "Show inventory level",
            "default": false
          },
          {
            "type": "range",
            "id": "inventory_notice_threshold",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Inventory level threshold",
            "info": "Show inventory quantities below this threshold. Choose 0 to show full amount.",
            "default": 10
          },
          {
            "type": "checkbox",
            "id": "show_pickup_availability",
            "label": "Show pickup availability",
            "default": true,
            "info": "Show customers where they can pick up the product. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup)"
          }
        ]
      },
      {
        "type": "accordion",
        "name": "Collapsible tab",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Collapsible tab"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Tab content",
            "default": "<p>Collapsible tab content</p>"
          },
          {
            "type": "page",
            "id": "page",
            "label": "Tab content from page"
          },
          {
            "type": "checkbox",
            "id": "open",
            "label": "Open",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Text block"
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "textarea",
        "name": "Flash Sale Message",
        "settings": [
          {
            "type": "textarea",
            "id": "textarea",
            "label": "Flash Sale Message",
            "default": "Text block"
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          },
          {
            "type": "color",
            "id": "flash_sale_font_color",
            "label": "Font Color",
            "default": "#000000"
          }
        ], 
        "limit": 1       
      },
      {
        "type": "richtext",
        "name": "Rich text",
        "settings": [
          {
            "type": "richtext",
            "id": "richtext",
            "label": "Rich text",
            "default": "<p>Rich text block</p>"
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "popup",
        "name": "Pop-up",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Link text",
            "default": "Pop-up link text"
          },
          {
            "type": "select",
            "id": "style",
            "label": "Style",
            "default": "primary",
            "options": [
              {
                "label": "Button - primary",
                "value": "primary"
              },
              {
                "label": "Button - secondary",
                "value": "secondary"
              },
              {
                "label": "Link",
                "value": "link"
              }
            ]
          },
          {
            "type": "page",
            "id": "page",
            "label": "Page"
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "link",
        "name": "Link",
        "settings": [
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Link text"
          },
          {
            "type": "select",
            "id": "style",
            "label": "Style",
            "default": "primary",
            "options": [
              {
                "label": "Button - primary",
                "value": "primary"
              },
              {
                "label": "Button - secondary",
                "value": "secondary"
              },
              {
                "label": "Link",
                "value": "link"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width",
            "min": 60,
            "max": 700,
            "step": 10,
            "unit": "px",
            "label": "Image width",
            "default": 700
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "custom_liquid",
        "name": "Custom Liquid",
        "settings": [
          {
            "type": "liquid",
            "id": "custom_liquid",
            "label": "Custom Liquid"
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "sharing",
        "name": "Sharing",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ],
        "limit": 1
      },
      {
        "type": "divider",
        "name": "Divider",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      }
    ]
  }
{% endschema %}