{% style %}
/* Large devices (over 700 px) */
@media only screen and (min-width: 701px) {
    #mobile{
      display:none;
    }
}


.grid {
  content: "";
  clear: both;
  display: flex;
  text-align: center; 
  justify-content: center;   
}

.grid-item {
  float: left;
  width: 19.99%;
  padding: 5px;
  text-align: center;
  height: auto;
}

.grid-item:last-of-type {
  margin-right: 0px;
}

.title{
  font-size: 10px;    
}

.conten{
  margin: 0 auto;
  width: 60px;
  height: 60px;
}

.conten img{
  width: 100%;
  height: 100%;
  border-radius: 50%;  
  object-fit: cover;       
}


{% endstyle %}
{% if section.settings.display_stories_list_mobile %}
<div id="mobile">
    <div class="grid">
        {% for block in section.blocks %}
            <div class="grid-item">        
              <div class="conten">                                   
                <a href="{{ block.settings.link_url }}">
                  <img src="{{block.settings.image | img_url: '150x'}}" class="media">                    
                </a>   
              </div>                              
              <label class="title">{{ block.settings.title }}</label>                
            </div>  
        {% endfor %}
    </div>
</div>
{% endif %}



{% schema %}
{
    "name": "Navigation stories",
    "class": "section-store-messages",
    "max_blocks": 5,
    "settings": [
      {
        "type": "header",
        "content": "Navigation stories"
      },
      {
        "type": "paragraph",
        "content": "These are displayed under the store messages - great for promotions"
      },
      {
        "type": "checkbox",
        "id": "display_stories_list_mobile",
        "label": "Enable",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "message",
        "name": "Navigation story",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Navigation story"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"            
          },          
          {
            "type": "url",
            "id": "link_url",
            "label": "Link URL"
          }
        ]
      }
    ]
  }
{% endschema %}