{% style %}

/* Large devices (over 700 px) */
@media only screen and (min-width: 701px) {
    #mobile{
      display:none;
    }
}

.container-grid {
    content: "";
    clear: both;
    display: flex;
    text-align: center; 
    justify-content: center;
    height: 45px;   
    background: {{ section.settings.announcement_bar_col }};
    
  }

.nav-sub{    
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav-sub li{
    display:inline;
}
.nav-sub a{
    display:inline;
    padding:10px;
    font-size: 15px;  
    text-decoration: none;
}

.tag{
    color: {{ section.settings.announcement_text_col }};
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;    
}


{% endstyle %}

{% if section.settings.head_not_mob_show %}
    <div id="mobile">
        <div class="container-grid">
        {% for block in section.blocks %}
        <ul class="nav-sub">
            <li>
                <div class="center">
                <a href="{{ block.settings.link_url }}" class="tag">
                    {{ block.settings.title }}
                </a>
            </div>
            </li>
        </ul>            
        {% endfor %}
    </div>
    </div>
{% endif %}


{% schema %}
{
    "name": "Header Sub Menu",
    "class": "section-sub-menu",
    "max_blocks": 4,
    "settings": [
      {
        "type": "header",
        "content": "Sub menu"
      },
      {
        "type": "paragraph",
        "content": "Add each link to the sub menu"
      },
      {
        "type": "checkbox",
        "id": "head_not_mob_show",
        "label": "Enable",
        "default": false
      },
      {
        "type": "header",
        "content": "Customize the sub menu"
      },
      {
        "type": "color",
        "id": "announcement_bar_col",
        "label": "Bar",
        "default": "#F7F1F0"
      },
      {
        "type": "color",
        "id": "announcement_text_col",
        "label": "Text",
        "default": "#171717"
      }      
    ],
    "blocks": [
      {
        "type": "message",
        "name": "Link",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Item"
          },                    
          {
            "type": "url",
            "id": "link_url",
            "label": "Link URL"
          }
        ]
      }
    ]
  }
{% endschema %}